@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
}
.btn {
  margin-top: 24px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 21px 24px 21px 24px;
  border: none;
  border-radius: 8px;
  background: rgb(13, 19, 33);
}
.btnCard {
  margin-top: 16px;
  padding: 10px 18px 10px 18px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0%;
  text-align: center;
}
.heroSection {
  height: 930px;
  background-image: url("Hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroContainer .title {
  font-size: 36px;
  margin: 20px 0;
}

.heroContainer .subtitle {
  font-size: 20px;
  text-align: center;
}
.whyWeb {
  width: 1240px;
  height: 1295px;
  margin: 0 auto;
  /* border: 2px solid red; */
  border-radius: 16px;
  background: rgba(0, 34, 114, 0.02);
  padding: 80px 97px 80px 97px;
  margin-top: 64px;
}
.whyWeb .whyWebContainer .title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 16px;
}
.whyWeb .whyWebContainer .subtitle {
  margin-top: 24px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.whyWeb .cardCoding {
  width: 850px;
  height: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0 auto;
  margin-top: 64px;
  background-color: white;
}
.whyWeb .cardCoding .description {
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}
.whyWeb .cardCoding .image {
  /* border: 2px solid yellow; */
  width: 259.56px;
  height: 217.01px;
  top: 1.74%;
  bottom: -1.74%;
}
.whyWeb .cardCoding .description .title {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.whyWeb .cardCoding .description .subtitle {
  margin-top: 16px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.inspiration {
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 64px;
}
.inspiration .subtitle {
  margin-top: 24px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.inspiration .title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.inspiration .videoContainer {
  margin-top: 64px;
  width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
}
.inspiration .video {
  width: 100%;
  max-width: 1076px;
  height: 550px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.target {
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 64px;
}
.target .flashCard {
  margin-top: 34px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.target .flashCard .html {
  padding: 30px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  text-align: left;
}
.target .flashCard .html img {
  width: 56px;
  height: 56px;
}
.target .flashCard .html .htmlContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.target .flashCard .html .htmlContent h3,
.target .flashCard .html .htmlContent p,
.target .flashCard .html .htmlContent h4 {
  margin-top: 16px;
  text-align: left;
}
.target .flashCard .html .htmlContent h4 {
  text-decoration: underline;
}
.target .flashCard .css {
  padding: 30px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  text-align: left;
}
.target .flashCard .css img {
  width: 56px;
  height: 56px;
}
.target .flashCard .css .cssContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.target .flashCard .css .cssContent h3,
.target .flashCard .css .cssContent p,
.target .flashCard .css .cssContent h4 {
  margin-top: 16px;
  text-align: left;
}
.target .flashCard .css .cssContent h4 {
  text-decoration: underline;
}
.target .flashCard .js {
  padding: 30px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  text-align: left;
}
.target .flashCard .js img {
  width: 56px;
  height: 56px;
}
.target .flashCard .js .jsContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.target .flashCard .js .jsContent h3,
.target .flashCard .js .jsContent p,
.target .flashCard .js .jsContent h4 {
  margin-top: 16px;
  text-align: left;
}
.target .flashCard .js .jsContent h4 {
  text-decoration: underline;
}
.support {
  width: 1140px;
  height: 314px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  background: url(handshake.jpg);
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-blend-mode: overlay;
  position: relative;
  overflow: hidden;
  margin-top: 64px;
}
.support .supportContainer .title {
  padding: 20px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.support .supportContainer .subtitle {
  margin-top: 16px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.support .forminput .box {
  margin-top: 16px;
  width: 548px;
  height: 57px;
  padding: 19px 20px 19px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
.support .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.support .form .forminput {
  display: flex;
}
.support .form .forminput .submit {
  padding: 2px 15px 2px 15px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
.footer {
  max-width: 2000px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  /* padding: 32px 60px 32px 60px; */
  padding: 32px 150px 32px 150px;
}
.footer .footerTag .tag {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.footer .link {
  display: flex;
  align-items: center;
  gap: 16px;
}
